{% extends 'base.html.twig' %}

{% block title %}Fases{% endblock %}

{% block body %}
    <h2>Fases de la camperización</h2>

    {% for fase in fases %}
   <p>
            <a href="{{ path('fases', { id: fase.id }) }}">{{fase.nombre}}</a>
        </p>
    {% endfor %}
{% endblock %}